@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    /* background-size: cover; serve para cobrir a tela inteira */
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* o transform foi usado, pois o css considera sempre o canto esquerdo superior do bloco como o ponto de referência, então o bloco não fica centralizado */
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    /* no-repeat é utilizado para não duplicar a imagem */
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}

.botao {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid transparent;

}

.redes-sociais a {
    display: inline-block;
    padding: 5px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
}

.botao:hover {
    border: 2px solid rgba(0, 0, 0, 0.404);
    transform: scale(1.1) translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600); 
    transition: transform .3s;
}